[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
pytest = "*"
pytest-cov = "*"

[packages]
nltk = "3.4.5"
spacy = "2.2.4"
scispacy = "*"
negspacy = "0.1.9"
phenopy = {git = "https://github.com/GeneDx/phenopy.git", editable = true}
networkx = "*"
gensim = "3.8.1"

[requires]
python_version = "3.7"
