[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
pytest = "*"
pytest-cov = "*"

[packages]
nltk = "*"
spacy = "*"
scispacy = "*"
negspacy = "*"
phenopy = "*"
networkx = "*"
gensim = "*"

[requires]
python_version = "3.7"
